node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
lib-cov/
coverage/
/node_modules
/bower_components
.npm
.env
env/
venv/
docker-compose.override.yml
dist/
build/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
__pycache__/
*.py[cod]
*$py.class
.Python
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
eggs/
lib/
lib64/
parts/
sdist/
wheels/
.installed.cfg
.idea
.venv